version: "3"

services:
  php:
    build: ./${DOCKER_PATH}
    container_name: ${CONTAINER_NAME}
    ports:
      - ${HOST_PORT}:${CONTAINER_PORT}
    volumes:
      - ./${REPOSITORY}:/var/www/html
      - vendor-store:/var/www/html/vendor
    networks:
      - my_laravel_network
      - my_infra_network

volumes:
  vendor-store:


networks:
  my_laravel_network:
    name: my_laravel_network
  my_infra_network:
    external: true
    name: my_infra_network
